# Version control
.git/
.gitignore
.gitattributes
.github/

# Python artifacts
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage

# Development environments
.env
.venv
env/
venv/
pip-log.txt

# Build artifacts and packaging
build/
dist/
develop-eggs/
eggs/
*.egg-info/
sdist/
var/
wheels/

# Docker-specific files that are not needed in the final image
**/Dockerfile
docker-compose*.yaml
docker-compose.yaml
.Dockerignore
.docker/

# items on dev machine
venv/
dev/
README.md